body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Asegura que el contenido ocupe todo el alto de la ventana */
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
    padding: 40px;
    background-color: red;
    margin: 0;
}

/* Estilo para .title */
.title {
    width: auto; /* Deja que el contenedor ocupe solo el espacio necesario */
    max-width: 1000px; /* Límite máximo para evitar que se estire demasiado */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
}

/* Estilo para el encabezado */
h1 {
    font-size: 3em; /* Aumenta el tamaño del texto */
    margin-bottom: 20px;
}

/* Estilo para el id hora */
#hora {
    font-size: 3em;
    font-weight: bold;
    color: white;
}