
@font-face {
    font-family: 'DummyDaze';
    src: url(Fuentes/DummyDaze.ttf) format('truetype');
}



body {
    font-family: 'DummyDaze', Arial, sans-serif ;
    background-color: #ffe2ef;
    opacity: 0.8;
    background-image:  linear-gradient(135deg, #feaed2 25%, transparent 25%), linear-gradient(225deg, #feaed2 25%, transparent 25%), linear-gradient(45deg, #feaed2 25%, transparent 25%), linear-gradient(315deg, #feaed2 25%, #ffe2ef 25%);
    background-position:  10px 0, 10px 0, 0 0, 0 0;
    background-size: 10px 10px;
    background-repeat: repeat;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

#container {
    min-width: 400px;
    max-width: 1200px;
    width: 100%;
    text-align: center;
    padding: 0 px;
    margin: 0 px;
    background-color: #ffb7d7;
    border-radius: 20px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    /* border: 1px solid black; */
}


.title {
    color:white;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
    background-color: #ff0072;
}

header {
    width: fit-content;
    min-width: 80%;

}


article {
    width: fit-content;
    min-width: 60%;
   

}

footer
{   background-color: transparent;
    width: fit-content;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    
}


a {
    color: white;
    

    text-decoration: none;

    
    
}


a:visited {
    color: white;
}
  
a:focus {
    background:  #ff76b4;
}
  
a:hover {
    text-decoration-line: underline;
}
  
a:active {
    text-decoration-line: underline;
    color:  #ff76b4;
}




h1 {
    font-size: 3em; 
    
    
}

h2 {
    font-size: 3em; 
    /* border: 1px solid black; */
    
    
    
}


#hora {
    font-family: 'DummyDaze', Arial, sans-serif ;
    font-size: 10px ;
    
    color: #442131;

}