
@font-face {
    font-family: 'DummyDaze';
    src: url(Fuentes/DummyDaze.ttf) format('truetype');
}



body {
    font-family: 'DummyDaze', Arial, sans-serif ;
    background-color: #ffe2ef;
    opacity: 0.8;
    background-image:  linear-gradient(135deg, #feaed2 25%, transparent 25%), linear-gradient(225deg, #feaed2 25%, transparent 25%), linear-gradient(45deg, #feaed2 25%, transparent 25%), linear-gradient(315deg, #feaed2 25%, #ffe2ef 25%);
    background-position:  10px 0, 10px 0, 0 0, 0 0;
    background-size: 10px 10px;
    background-repeat: repeat;
    display: flex;
    align-content: center;
    justify-content: center;
}

#container {
    width: 1600px;
    text-align: center;
    padding: 0 px;
    margin: 0 px;
    background-color: #ffb7d7;
    border-radius: 2%;
    /*border: 1px solid black;*/
}

#container_articles{
    
    width: calc(90%-20%);
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    margin: 0px;
    /*border: 1px solid black;*/
}

header {
    border-radius: 20px;
    color:white;
    padding: 20px ;
    width: calc(100%-20px);
    background-color: #ff0072;
    margin: 20px;
    
}

article {
    color:white;
    border-radius: 20px;
    font-family: 'DummyDaze', Arial, sans-serif ;
    padding: 20px;
    background-color: #ff0072;
    margin: 30px;
    
    
}

a {
    color: white;

    text-decoration: none;
   
    
}


a:visited {
    color: white;
}
  
a:focus {
    background:  #ff76b4;
}
  
a:hover {
    text-decoration-line: underline;
}
  
a:active {
    text-decoration-line: underline;
    color:  #ff76b4;
}




h1 {
    font-size: 3em; 
    margin-bottom: 20px;
    line-height: 1.4;
}

h2 {
    font-size: 3em; 
    margin-bottom: 20px;
    line-height: 1.4;
}

/* Estilo para el id hora */
#hora {
    font-size: 10px ;
    font-weight: bold;
    color: gray;
}